.tweet {

    height: 200px;
    width: 200px;
    background: wheat;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  