 .container {
    margin: auto;
    max-width: 662px;
    padding: 0 20px; }
  
  .quote {
    background: url(./bg.jpg);
    padding: 20px 0px;
    margin-top: 120px; }
    .quote h1 {
      margin: 100px 0px;
      padding: 40px 20px;
      border: 5px solid #fff;
      color: #fff; }
  
  .footer {
    padding: 50px 0px 0px 0px; }
    footer .social li {
      display: inline;
      margin-left: 20px; }
      footer .social li a {
        font-size: 1.25em;
        color: #999999; }
  
  